.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.jumbotron-fluid {
  background: url("./images/desk.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.display-3 {
  font-weight: 700;
}
.nav-link {
  color: black;
}
#footer {
  font-size: 1.2rem;
}
.card-title {
  font-size: 1.5rem;
}
.card-text {
  font-size: 1.3rem;
}
